
*, ::after , ::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}

/*HEADER*/ 

header{
    display: flex;
    flex-direction: column;

.section-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;


.logo{
    display: flex;
    height: 33px;
    width: 195px;
    margin: 15px 0px;
}
}
}

/*LOCATION*/

.section-location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#EAEAEA;
    background: linear-gradient(180deg, rgb(190, 190, 190) 0%, #EAEAEA 20%);
    padding: 16px 15px;

.fa-location-dot{
    display: flex;
    height: 16px;
    width: 12px;  
    color: #353535; 
}


p{
font-size: 16px;
font-weight: 500;
color: #353535;
text-align: center;
margin-left: 17px;
}
}


/*TAGLINE SECTION + BTN*/

.tagline-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 39px;
    padding-bottom: 57px;
    padding-left: 17px;
    padding-right: 17px;
  

.tagline-infos{
    display:flex;
    flex-direction: column;
    align-items: center;
   

h1{

font-size: 24px;
font-weight: 700;
text-align: center;
margin-bottom: 18px;
padding: 0 35px;

}
p{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.btn-explore{
    height: 50px;
    width: 218px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 27px;
    border: transparent;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    background: linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
}
}

.btn-explore:hover{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.486);
    ;
}

}
