*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    min-width: 375px;
}

a {
    text-decoration: none;
    color: white;
}


/*LOADER*/

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5EDFF;
    width: 100%;
    position: fixed;
    inset: 0;
    animation: disapear 3s forwards;


    .card-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        animation: float 3s ease-in-out infinite;

        .chef {
            width: 200px;
            height: 200px;
        }

        .word {
            margin-top: 20px;
            font-size: 12px;
            animation: fontAnim 2s ease-in-out infinite;
        }
    }
}


@keyframes fontAnim {
    0% {
        width: 7ch;
    }

    16% {
        width: 8ch;
    }

    32% {
        width: 9ch;
    }

    48% {
        width: 10ch;
    }

    64% {
        width: 11ch;
    }

    80% {
        width: 12ch;
    }

    100% {
        width: 13ch;
    }
}

@keyframes disapear {
    0% {
        opacity: 1;
        z-index: 1;
    }

    80% {
        opacity: 1;
    }

    88% {

        opacity: 1;
        z-index: 1;

    }

    100% {
        opacity: 0;
        z-index: -2;
    }
}

@keyframes float {
    0% {

        transform: translatey(0px);
    }

    50% {

        transform: translatey(-20px);
    }

    100% {

        transform: translatey(0px);
    }
}



/*HEADER*/

header {
    display: flex;
    flex-direction: column;

    .logo-section {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;


        .logo {
            display: flex;
            height: 33px;
            width: 195px;
            margin: 15px 0px;
        }
    }
}

/*LOCATION*/

.location-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    background: linear-gradient(180deg, rgb(190, 190, 190) 0%, #EAEAEA 20%);
    padding: 16px 15px;

    .location {
        display: flex;
        height: 16px;
        width: 12px;
        color: #353535;
    }


    p {
        font-size: 16px;
        font-weight: 500;
        color: #353535;
        text-align: center;
        margin-left: 17px;
    }
}


/*TAGLINE SECTION + BTN*/

.tagline-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 39px;
    padding-bottom: 57px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #F7F7F7;


    h1 {

        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 18px;
        padding: 0 35px;

    }

    p {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }

    .btn-explore {
        height: 50px;
        width: 218px;
        border-radius: 25px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-top: 27px;
        border: transparent;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        background: linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
    }

    .btn-explore:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.486);
        transform: scale(1.06);
        transition: transform 1s ease-in-out;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        cursor: pointer;
    }
}


/*FUNCTIONNING*/

.functionning-section {
    display: flex;
    flex-direction: column;
    height: 420px;
    margin-top: 48px;

    h1 {
        margin-left: 20px;
    }


    .btn-functionning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;



        .btn-section:hover .icon-smartphone {
            fill: #9356DC;
            transform: scale(1.1);
        }

        .btn-section:hover .icon-menu {
            fill: #9356DC;
            transform: scale(1.1);
        }

        .btn-section:hover .icon-shop {
            fill: #9356DC;
            transform: scale(1.1);
        }

        .btn-section:hover {
            background-color: #F5EDFF;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }

        .btn-section {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 322.49px;
            height: 72.38px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            margin-bottom: 22px;
            background: #F6F6F6;

            .btn-num {
                position: absolute;
                width: 24px;
                height: 24px;
                fill: #9356DC;
                top: 50%;
                left: 1%;
                transform: translate(-50%, -50%);
            }

            .icon-smartphone {
                height: 20px;
                width: 13.01873779296875px;
                fill: #7E7E7E;
                margin-left: 35px;

            }

            .icon-menu {
                fill: #7E7E7E;
                height: 16px;
                width: 16px;
                margin-left: 35px;
            }

            .icon-shop {
                fill: #7E7E7E;
                height: 18px;
                width: 18px;
                margin-left: 35px;
            }

            .btn-text {
                display: flex;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                margin-left: 27px;
            }

        }
    }
}


/*RESTAURANTS*/

.restaurants-section {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;

    h1 {
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        margin: 51px 0 20px 20px;

    }

    .restaurants-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 44px;


        .card-heart {
            position: relative;

            a {
                text-decoration: none;
                color: black;

                .card-without-heart {
                    display: flex;
                    flex-direction: column;
                    height: 251px;
                    width: 100%;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                    border-radius: 15px;
                    margin-bottom: 20px;

                    .img {
                        object-fit: cover;
                        height: 185px;
                        width: 335px;
                        border-radius: 15px 15px 0 0;
                    }

                    .text-card {
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        justify-content: center;

                        h2 {
                            font-size: 18px;
                            font-weight: 700;
                            margin-left: 12.81px;
                            margin-bottom: 5px;


                        }

                        p {
                            font-size: 17px;
                            font-weight: 300;
                            margin-left: 12.81px;

                        }
                    }
                }
            }

            .new {
                position: absolute;
                top: 9px;
                right: 14px;
            }


            .heart-animation {
                .heart {
                    visibility: visible;
                    position: absolute;
                    top: 197px;
                    right: 25px;
                }

                .full-heart {
                    visibility: hidden;
                    position: absolute;
                    top: 197px;
                    right: 25px;
                    opacity: 0;
                }
            }

            .heart-animation:hover {
                .heart {
                    visibility: hidden;
                    position: absolute;
                    cursor: pointer;
                }

                .full-heart {
                    visibility: visible;
                    position: absolute;
                    transition: 1.5s;
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}


/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    height: 197px;

    .logo-footer {
        height: 27px;
        width: 137.58px;
        margin: 22px 0 16px 25px;

    }

    .footer-section {
        display: flex;
        flex-direction: column;
        position: relative;

        .text-footer {
            display: flex;
            flex-direction: column;

            p {
                font-family: Roboto;
                margin-bottom: 7px;
                color: white;
            }

            .bottom {
                margin-left: 25px;
                font-size: 16px;
                font-weight: 300;

            }

            .top {
                margin-left: 47px;
                font-size: 16px;
                font-weight: 400;
            }

        }

        .knife-fork {
            position: absolute;
            top: 2px;
            left: 25px;
            height: 13px;
            width: 11px;


        }

        .help {
            position: absolute;
            top: 30px;
            left: 25px;
            height: 13px;
            width: 11px;
        }
    }
}

/*TABLET*/
@media screen and (min-width:768px) and (max-width:1224px) {

    /*FUNCTIONNING*/

    .functionning-section {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin-top: 48px;

        .btn-functionning {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .btn-section {
                width: 30%;
            }
        }
    }

    /*RESTAURANTS*/

    .restaurants-cards::-webkit-scrollbar {
        
        height: 10px;
        background-color: #F5EDFF;
    }

    .restaurants-cards::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
    }

    .restaurants-cards::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .restaurants-section {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 51px 0 20px 20px;
        }

        .restaurants-cards {
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            overflow: scroll;
            overflow-y: hidden;


            .card-heart {
                margin-right: 30px;
            }
        }
    }
}


/*DESKTOP*/
@media screen and (min-width:1224px) {


    /*TAGLINE SECTION + BTN*/

    .tagline-section {
        h1 {
            font-size: 40px;
        }
    }

    /*FUNCTIONNING*/

    .functionning-section {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin-top: 48px;

        h1 {
            margin-left: 193px;
        }


        .btn-functionning {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0 40px 0 193px;


            .btn-section {
                width: 30%;
            }
        }
    }

    /*RESTAURANTS*/
    
    .restaurants-cards::-webkit-scrollbar {
        height: 10px;
        background-color: #F5EDFF;
    }

    .restaurants-cards::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
    }

    .restaurants-cards::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .restaurants-section {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 51px 0 20px 193px;
        }

        .restaurants-cards {
            display: flex;
            flex-direction: row;
            margin: 0 0 44px 193px;
            overflow: scroll;
            overflow-y: hidden;


            .card-heart {
                margin-right: 30px;
            }
        }
    }

    /*FOOTER*/

    footer {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: 114px;

        .logo-footer {
            height: 27px;
            width: 137.58163452148438px;
            margin: 0 120px 0px 71px;
        }

        .footer-section {
            display: flex;
            flex-direction: column;
            position: relative;

            .text-footer {
                display: flex;
                flex-direction: row;
            }

            .knife-fork {
                position: absolute;
                top: 2px;
                left: 25px;
            }

            .help {
                position: absolute;
                top: 2px;
                left: 240px;
            }
        }
    }
}