*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
    min-width: 375px;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }



    100% {
        transform: rotate(360deg);
    }

}

/*HEADER*/

header {
    display: flex;
    flex-direction: column;
    position: relative;

    .logo-section {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;


        .logo {
            display: flex;
            height: 33px;
            width: 195px;
            margin: 15px 0px;
        }
    }

    .arrow {
        position: absolute;
        top: 26px;
        left: 23px;

    }
}

/*IMAGE*/

.img-container {
    display: flex;


    .img {
        object-fit: cover;
        height: 275px;
        width: 100%;


    }

}

/*MAIN*/

main {
    position: relative;
    background-color: #F6F6F6;


    .blank {
        position: absolute;
        top: -32px;
        height: 33px;
        width: 100%;
        border-radius: 40px 40px 0 0;
        background-color: #F6F6F6;
    }

    h1 {
        font-family: Shrikhand;
        font-size: 28px;
        font-weight: 400;
        margin-left: 17px;
    }

    .heart-animation {
        .heart {
            visibility: visible;
            position: absolute;
            top: 10px;
            right: 41px;
        }

        .full-heart {
            visibility: hidden;
            position: absolute;
            top: 10px;
            right: 41px;
            opacity: 0;
        }
    }

    .heart-animation:hover {
        .heart {
            visibility: hidden;
            position: absolute;
        }

        .full-heart {
            visibility: visible;
            position: absolute;
            transition: 1.5s;
            opacity: 1;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        background-color: #F6F6F6;
        margin-top: 42px;

        h2 {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 300;
            margin-left: 13px;
            padding-bottom: 5px;
        }

        .lign {
            background-color: #99E2D0;
            top: 27px;
            width: 40px;
            height: 3px;
            margin: 4px 0 0 13px;
        }

        .card {
            display: flex;
            flex-direction: row;
            width: 96%;
            height: 69px;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            margin: 12px 13px 12px 13px;
            display: flex;
            position: relative;
            justify-content: space-between;

            .text-card {
                margin: 12px 0 0 11px;
                display: flex;
                align-content: center;
                flex-direction: column;
                overflow: hidden;


                h3 {
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 7px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                }

                p {
                    font-family: Roboto;
                    font-size: 17px;
                    font-weight: 300;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }


            }

            .price {
                font-family: Roboto;
                font-size: 15px;
                font-weight: 700;
                margin-top: 40px;
                margin-right: 18px;
            }

            .btn-check {
                position: absolute;
                right: 0;
                display: none;
                height: 69px;
                width: 59px;
                background-color: #99E2D0;
                border-radius: 0px 15px 15px 0px;
                align-items: center;
                justify-content: center;
                transition: 0.8s ease-in-out;

                .check {
                    width: 20px;
                    height: 20px;
                    transform: rotate(360 deg);
                }
            }

        }

        .card:hover {
            .price {
                margin-right: 77px;
            }

            .btn-check {
                display: flex;
                height: 69px;
                width: 59px;
                background-color: #99E2D0;
                border-radius: 0px 15px 15px 0px;
                align-items: center;
                justify-content: center;


                .check {
                    width: 20px;
                    height: 20px;
                    animation-name: rotate;
                    animation-duration: 1s;
                    animation-timing-function: ease-in-out;

                }
            }
        }
    }

    /*BTN ORDER*/

    .section-order {
        display: flex;
        justify-content: center;

    }

    .btn-order {
        height: 50px;
        width: 186px;
        border-radius: 25px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin: 40px 0 40px 0;
        border: transparent;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        background: linear-gradient(-10deg, #9356DC -5.2%, #FF79DA 110.74%);
    }

    .btn-order:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.486);
        transform: scale(1.06);
        transition: ease-out 1s;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    }
}


/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    height: 197px;

    .logo-footer {
        height: 27px;
        width: 137.58px;
        margin: 22px 0 16px 25px;

    }

    .footer-section {
        display: flex;
        flex-direction: column;
        position: relative;

        .text-footer {
            display: flex;
            flex-direction: column;

            p {
                font-family: Roboto;
                margin-bottom: 7px;
                color: white;
            }

            .bottom {
                margin-left: 25px;
                font-size: 16px;
                font-weight: 300;

            }

            .top {
                margin-left: 47px;
                font-size: 16px;
                font-weight: 400;
            }

        }

        .knife-fork {
            position: absolute;
            top: 2px;
            left: 25px;
            height: 13px;
            width: 11px;


        }

        .help {
            position: absolute;
            top: 30px;
            left: 25px;
            height: 13px;
            width: 11px;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }
}